:root{
    --NotoSans: 'Noto Sans', sans-serif;
    --ColorFondoGris: rgba(46, 46, 46, 0.178);
    --ColorFondoNegroGradient: linear-gradient(to right, #29323c, #485563);
    --ColorFondoNegro: rgba(31, 31, 31);
    --ColorAcento: /* rgb(207, 176, 73) */ rgb(255, 211, 105);
    --ColorAcentoHover: rgb(255, 179, 0);
    --ColorBlanco: rgb(177, 177, 177);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: var(--ColorFondoNegroGradient);
    font-family: var(--NotoSans);
    color: var(--ColorBlanco);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--ColorBlanco);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--ColorAcento);
    border-radius: 5px;
}

.h2Sub{
    margin: 0;
    padding: 5rem 0 0 0;
    text-align: center;
    font-size: 2rem;
}

/*Header*/
.gridContainer {
    margin-top:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 2.5rem;
}

.img_head{
    width: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.list_head{
    margin-left: auto;
    margin-right: auto;
}

.list_head li{
    display: inline;
    margin: 0 0.3rem 0 0.3rem;
}

header li.projects a, .about a, .contact a{
    text-decoration: none;
    color: var(--ColorGray);
}

header li.home a{
    text-decoration: none;
    color: var(--ColorAcento);
    border-bottom: 2px solid var(--ColorAcento)
}

header li a{
    transition: 0.2s ease-out;
}

header li a:hover{
    color: var(--ColorAcento);
    border-bottom: 2px solid var(--ColorAcento)
}

.list_icons_head{
    margin-left: auto;
    margin-right: auto;
}

.list_icons>img{
    display: inline;
}

.list_icons_head{
    cursor: pointer;
}

/*section*/
.name{
    color: var(--ColorAcento);
    padding: 0 0 0 0;
    margin: 16rem 0 0 0;
    text-align: center;
    font-size: 5rem;
}

.subName{
    margin: 0;
    text-align: center;
    font-size: 3rem;
}

.description{
    margin: auto;
    max-width: 500px;
    height: 100px;
    text-align: center;

}

.article2{
    margin-top: 5rem;
    background-color: var(--ColorFondoGris);
    border-radius: 8px;
}

.container{
    margin: 5rem auto 0 auto;
    padding-bottom: 5rem;
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    color: var(--ColorFondoNegro);
    border-radius: 8px;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--ColorAcento);
    width: 20%;
    height: 300px;
    text-align: center;
}

.container2{
    margin: auto;
    padding: 2rem 0 5rem 0;
    width: 90%;
    gap: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.card2{
    color: var(--ColorFondoNegro);
    border-radius: 8px;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--ColorAcento);
    width: 40%;
    height: 300px;
    text-align: center;
}


/*About*/
.article4{
    background-color: var(--ColorFondoGris)
}

.container3{
    margin: auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.card3{
    border-radius: 8px;
    padding-top: 1rem;
    width: 25%;
    height: 350px;
    text-align: center;
}

.card3>img{
    display: inline-block;
    height: 200px;
}

.card3 h2{
    font-size: 1.5rem;
    margin: 0 0 0 0;
}

.card3>ul{
    margin: 0;
    padding: 1rem 0 0 0;
}
.card3 ul>img{
    margin: 0;
    padding: 0;
}

.card3_1{
    border-radius: 8px;
    padding-top: 1rem;
    width: 50%;
    height: 300px;
    text-align: left;
    color: rgb(206, 206, 206);
}

/*footer*/
.container4{
    margin: auto;
    padding: 2rem 0 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.card4{
    padding-top: 1rem;
    width: 45%;
    height: 80%;
    text-align: center;
}

.card4_1{
    border-left: 5px solid var(--ColorBlanco);
    padding-top: 1rem;
    width: 45%;
    height: 12rem; /*cambiar height a 100% si añade el form* y eliminar la clase .card4_1>form>input*/
    text-align: center;
    padding: 0 1rem 0 2rem;
}

.card4_1>form>input{
    margin-top: 4rem;
}
/*form style*/
.feedback-input {
    color:var(--ColorBlanco);
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: transparent;
    border:2px solid var(--ColorAcento);
    transition: all 0.3s;
    padding: 0.8rem;
    margin-bottom: 1rem;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid var(--ColorAcentoHover); }

textarea {
    font-family: var(--NotoSans);
    height: 6rem;
    line-height: 100%;
    resize: none;
}

[type="submit"] {
    width: 100%;
    background: var(--ColorAcento);
    border-radius:5px;
    border:0;
    cursor:pointer;
    color: var(--ColorFondoNegro);
    font-size: 1.5rem;
    padding: 0.5rem 0 0.5rem 0;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover { background: var(--ColorAcentoHover); }


.Copyright{
    width: 100%;
    background-color: var(--ColorFondoGris);
    padding-left: 3rem;
    margin-bottom: 1rem;
}



/*responsive for mobile*/
@media screen and (max-width:900px){
    .container{
        flex-direction: column;
        gap: 3rem;
    }
    
    .card{
        width: 80%;
    }

    .container2{
        flex-direction: column;
        gap: 3rem;
    }
    
    .card2{
        width: 80%;
    }

    .container3{
        flex-direction: column;
        gap: 3rem;
    }
    
    .card3{
        width: 90%;
    }
    
    .card3_1{
        height: auto;
        width: 90%;
        margin-top: 0;
        padding-top: 0;
    }

    .container4{
        flex-direction: column;
        gap: 3rem;
    }
    
    .card4{
        width: 80%;
    }
    
    .card4_1{
        border-left: none;
        width: 80%;
    }
}

/*other mediascreen*/
@media screen and (max-width:450px){
    .h2Sub{
        padding-top: 2rem;
    }

    .gridContainer{
        width: auto;
        height: auto;
        flex-direction: column;
        gap: 0.5rem;
    }

    .list_head{
        margin: auto;
        padding: 0;
    }

    .list_icons_head{
        padding: 0;
        height: auto;
    }

    .name{
        width: auto;
        height: auto;
        font-size: 3.5rem;
        margin-top: 6rem;
    }

    .subName{
        width: auto;
        height: auto;
        font-size: 1.5rem;
        margin: 0.5rem 0 0.5rem 0;
    }

    .description{
        width: auto;
        height: auto;
        text-align: center;
        padding: 0 0.3rem 0 0.3rem;
    }

    .card3_1{
        text-align: center;
    }

    .container{
        margin-top: 1rem;
        gap: 1rem;
        padding: 1rem 0 1rem 0;
    }

    .container2{
        margin-top: 1rem;
        gap: 1rem;
        padding: 1rem 0 1rem 0;
    }

    .card3{
        height: auto;
    }

    .card3>img{
        height: 150px;
    }
    
    .container4{
        margin-top: 1rem;
        gap: 1rem;
        padding: 1rem 0 1rem 0;
    }

    .card4_1{
        margin: 0 0 2rem 0;
        height: auto;
    }

}
